.pet-container {
  display: flex;
  flex-flow: column;
  align-items: center;

  position: fixed;

  bottom: 0px;

  z-index: 10000;

  padding: 0px;
}

.pet-image {
  zoom: var(--image-zoom-scale);

  image-rendering: pixelated;

  bottom: 0px;

  margin: 0px;
  padding: 0px;
}

.flip-horizontal {
  transform: scaleX(-1);
}
