.pet-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;

  bottom: 0px;

  z-index: 10000;

  width: 5em;
}

.pet-image {
  width: 100%;
  height: auto;

  image-rendering: pixelated;
}

.flip-horizontal {
  transform: scaleX(-1);
}
