.pet-selection-button {
  width: 140px;
  height: 160px;

  margin: 8px;

  background-color: hsl(0, 0%, 19%);

  align-items: center;
}

.pet-name-text {
  margin-bottom: 20px;
  margin-top: 4px;
  
  font-weight: 600;
}

.pet-thumbnail-image {
  zoom: 300%;

  image-rendering: pixelated;
}

.selected-pet-indication {
  border-color: hsl(205, 61%, 63%);
}

.origin-text {
  padding: 0px;

  font-size: 11px;
  color: rgb(214, 214, 214);
}